body {
    margin: auto;
    text-align: center;
}
.container{
    margin: auto;
    width: 600px;
    height: 400px;
    border: 3px solid black;
    background-image: url(background.jpg);
    background-size: cover;
    overflow: hidden;
}
.dino {
    position: relative;
    top: 145px;
    width: 105px;
    height: 255px;
    background-image: url(auroraeananda.png);
    background-size: cover;
}
.jump-animation {
    animation: jump 1s;
}
.rock {
    position: relative;
    top: 75px;
    left: 525px;
    width: 70px;
    height: 70px;
    background-image: url(rock.png);
    background-size: cover;
}
h1{
    margin: auto;
    text-align: center;
}
.infos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rolling {
    animation: rolling infinite linear 1.9s;
}
.rolling-faster {
    animation: rolling infinite linear 1.4s;
}

@keyframes rolling {
    0%{left: 600px}
    100%{left: -50px}
}

@keyframes jump {
    0%{top: 145px}
    50%{top: -5px}
    100%{top: 145px}
}