body {
    margin: 0;
    background-color: #343334;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0px;
    color: white;
    margin-top: 50px;
    text-align: center;
}
.first {
    width: 300px;
    height: 250px;
    margin-top: -30px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 5px;
    width: calc(100% / 3 - 30px);
    border: 2px solid white;    
    font-size: 30px;
    font-weight: bold;
}
.active {
    border: 2px solid yellow;
}

.composer {
    padding: 5px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#input {
    height: 25px;
    width: 235px;
    text-align: justify;
}
button {
    margin-top: 10px;
    background-color: #343334;
    border: 2px solid white;
    width: inherit;
    width: 245px;
    color: white;
    text-align: center;
    height: 30px;
}
h2 {
    font-size: 15px;
    font-weight: 300;
}
